body {
	background: white;
	color: black;
	font-family: Lato, sans-serif;
	font-size: 120%;
	max-width: 33em;
	margin: 0 auto;
	padding: 2em;
}

h1, h2, h3 {
	margin: 1.5em 0 0.5em 0;
}

h1 {
	margin-bottom: 2em;
	position: relative;
}

.subtitle {
	color: #333;
	font-size: 0.8rem;
	margin: 0;
	position: absolute;
	left:0;
	top: 100%;
}

p {
	line-height: 1.5;
	margin: 0;
}

p+p {
	margin-top: 1em;
}

.todo {
	color: crimson;
	font-weight: bold;
}


.rationale, .status, .light-heading {
	margin-top: 0.25em;
	color: #333;
	background: #ffd;
	border-top: 2px solid #dda;
	border-bottom: 2px solid #dda;
	padding: 0.5em 2em;
	max-width: 35em;
}

.rationale, .status {
	font-size: 80%;
}

.status {
	padding: 1em 0;
	max-width: 37em;
}

.light-heading {
	margin-top: 0.25em;
	font-weight: normal;
	padding: 0.25em 0.5em;
	position: relative;
}
.light-heading::before {
	content: url('./engi_group.png');
	position: absolute;
	top: calc(-0.5em - 17px);
	right: 0;
}
.light-heading::after {
	content: url('./mantis_group_vibrant.png');
	position: absolute;
	bottom: calc(-0.5em - 7px);
	left: 0;
}

h2 {
	position: relative;
}
#install::before {
	content: url('./repair.png');
	position: absolute;
	left: -30px;
	top: 1px;
}
#bugs::before {
	content: url('./mantis_vibrant.png');
	position: absolute;
	left: -30px;
}
#motive::before {
	content: url('./slug.png');
	position: absolute;
	left: -30px;
}
#changes::before {
	content: url('./artemis.png');
	position: absolute;
	left: -30px;
}
p {
	position: relative;
}
.hax::before {
	content: url('./hax.png');
	position: absolute;
	left: -37px;
	top: 1px;
}

ul {
	margin: 0;
	padding: 0 0 0 2em;
}

abbr {
	border-bottom: 1px dotted #000;
	text-decoration: none;
}
code {
	color: crimson;
	font-family: Consolas, Courier, monospace;
}

button {
	margin: 0 0 0 1em;
	padding: 0.5em 1em;
	color: white;
	background: #25a;
	border: 2px solid #48f;
	border: 0;
	font-size: 1rem;
	cursor: pointer;
}
.explain-yes, .explain-no {
	position: relative;
	padding-left: max(2em, 30px);
	margin-top: 1.5em;
}
.explain-yes::before, .explain-no::before {
	position: absolute;
	top: calc(50% - 27px);
	left: -26px;
	content: url('./zoltan_explode.png');
}
.explain-yes::before {
	content: url('./zoltan.png');
}

.hidden {
	display: none;
}
.image-container {
	font-size: 80%;
	max-width: 39em;
}
.end-pic {
	display: block;
	margin: 2em auto 1em auto;
}

@media (max-width: 35em) {
	.light-heading {
		background: inherit;
		border: none;
		padding: 0;
	}
	.light-heading::before, .light-heading::after {
		content: '';
	}
}
